%ul.nav.nav-list.layers
  %li.header
    .row-fluid
      .span5 Name
      .span4 Slug
      .span1 Type
      .span2 Actions
  - @layers.each do |layer|
    = render layer
    - if layer.children?
      .layer-children.collapse{id: "children-of-#{layer.slug}"}
        = render layer.children 