- unless layer.filter.type.empty?
  %h3
    = layer.name
    Filter
  %ul.nav.filters
    %li
      %label= (layer.filter['display_field'].nil? ? layer.filter['field'] : layer.filter['display_field']).humanize + ':'
      .slider-text
      .slider