%dl
  %dt 
    %i.icon-info-sign.icon-white
    Identify Tool
  %dd 
    By activating the identify tool you can click on map points, polygons and other features to view additional information or attributes.
  %br/
  
  %dt 
    .icon-plus.icon-white
    Changing background layers
  %dd 
    Click the 
    %i.icon-plus.icon-white 
    button on the right side of the map to open a list of available background layers.  
    %ul
      %li Only one "Base Layer" can be active at a time
      %li Multiple "Overlays" can be selected to lay on top of the "Base Layer"
    
  %br/
  %dt 
    .icon-search.icon-white
  
    Quick Zoom
  %dd Hold the shift button down and click-drag across the map to quickly zoom into an area of interest
  
    