#map
#map-tools
  .accordion-group
    .accordion-heading
      = link_to 'Toolbox', '#map-buttons', :class => 'accordion-toggle', "data-toggle" => "collapse", "data-parent" => "#map-tools"
    #map-buttons.accordion-body.in.collapse
      .accordion-inner
        = link_to 'Google', 'http://google.com', class: 'btn btn-primary'
:javascript
  $(document).ready(function() {
    uber = new UberMap();
    uber.init();
    #{ load_all_map_layers() }
  });
