.modal
  .modal-header
    %button.close{ "data-dismiss" => "modal" } x
    %h3 Request Options
  .modal-body
    %p Form would go here
  .modal-footer
    %a.btn{ :href => '#', "data-dismiss" => "modal" } Cancel
    %a.btn.btn-primary{ :href => '#' } Create Map