.legend
  %h3= layer.name
  - if layer.rules
    %table.rules
      %tbody
        = render partial: 'layers/rule', collection: layer.rules
    :javascript
      #{yield :rules_javascript}
  - else
    = render 'layers/style', style: layer.style
    