@import 'compass';
@import 'bootstrap';

.olControlLayerSwitcher {
  div.layersDiv {
    @include border-left-radius(10px);
    background-color: $navbarBackground;
  }
  
  label { 
    padding: 0 5px;
    color: $navbarText;
    display: inline; 
  }
}

#map {
  left: 0;
  right: 0;
  bottom: 0;
  top: 40px;
  background: #888;
  position: absolute;
  
  img { max-width: none; }
}

#map-tools {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 300px;
  margin: 0 0;
  padding: 0;
  .accordion-group { background: white; }
}

#map-buttons {
  margin: 0;
  text-align: center;
}

#request-windows {
  position: absolute;
  top: 0px;
}

.olControlDrawFeatureActive { 
  cursor: crosshair;
}
