@import 'jquery.ui.slider';
@import 'compass';

$primaryColor: #111;

$navbarInverseBackground: $primaryColor;
$navbarInverseBackgroundHighlight: lighten($primaryColor, 10%);
$navbarInverseContrastColor: contrast-color($primaryColor, #1F1F1F, #DFDFDF);
$navbarInverseLinkColor: $navbarInverseContrastColor;
$navbarInverseLinkColorHover: darken($navbarInverseContrastColor, 10%);
$navbarInverseLinkBackgroundHover: darken($primaryColor, 10%);
$navbarInverseSearchBackground: #FFF;

$navbarLinkColor: #fff;
$navbarLinkColorHover: darken($navbarLinkColor, 10%);
$navbarBackground: #EFEFEF;
$navbarBackgroundHighlight: lighten($navbarBackground, 10%);
$navbarLinkBackgroundHover: darken($navbarBackground, 10%);

@import 'bootstrap';

@import 'maps';
@import 'header';

.olControlLayerSwitcher {
  div.layersDiv {
    @include border-left-radius(10px);
    background-color: $navbarInverseBackground;
  }
  
  label { 
    padding: 0 5px;
    color: $navbarText;
    display: inline; 
  }
}

.olMapViewport .olControlZoom a {
  background-color: $navbarInverseBackground;
}

html, body {
  height: 100%;
}

#content {
  height: 100%;
}

#map {
  height: 100%;
  background: #888;
  img { max-width: none; }
}

#map-buttons {
  margin: 0;
}

#request-windows {
  position: absolute;
  top: 0px;
}

.olControlDrawFeatureActive { 
  cursor: crosshair;
}
