@import 'jquery.ui.slider';
@import 'compass';

@import 'bootstrap';

@import 'maps';
@import 'header';

.olControlLayerSwitcher {
  div.layersDiv {
    @include border-left-radius(10px);
    background-color: $navbarInverseBackground;
  }
  
  label { 
    padding: 0 5px;
    color: $navbarText;
    display: inline; 
  }
}

.olMapViewport .olControlZoom a {
  background-color: $navbarInverseBackground;
}

html, body {
  height: 100%;
}

#content {
  height: 100%;
}

#map {
  height: 100%;
  background: #888;
  img { max-width: none; }
}

#map-buttons {
  margin: 0;
}

#request-windows {
  position: absolute;
  top: 0px;
}

.olControlDrawFeatureActive { 
  cursor: crosshair;
}
