// Place all the styles related to the Maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map {
  .olControlAttribution {
    padding: 3px 10px;
    padding-left: 50px;
    bottom: 0px;
    right: 0px;
    position: absolute;
    background-color:#FFF;
    color: black;
  /*  @include text-shadow(rgba(white, 0) 1px 1px 0);*/
    @include background(linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.8) 10%));
  
    a {
      color: blue;
    }
  }
  .olControlScaleLine {
    @include border-radius(5px);
    background-color:rgba(255,255,255,0.8);
    padding:8px;
    color: #000;
    bottom: 35px;
  }
  
  .olControlMousePosition {
    left: 0px;
    bottom: 0px;
    right: auto;
    background-color:rgba(255,255,255,0.8);
    padding: 3px 10px;
    padding-right: 50px;
    @include background(linear-gradient(right, rgba(255,255,255,0), rgba(255,255,255,0.8) 10%));
    color: #000;
  }
}

.feature-popup-content {
  label { 
    display: inline-block; 
    font-weight: bold;
    text-transform:capitalize;
  }
}

#map-tools {
  position: absolute;
  top: 110px;
  left: 5px;
  padding: 0;
  z-index: 50000;
}

#map-messages {
  position: absolute;
  top: 45px;
  right: 10px;
  margin: 0 0;
  padding: 0;
  
  .alerts {
    width: 350px;
  }
}

#map-container {
  border-color: $navbarInverseBackgroundHighlight;
  background-color: $navbarInverseBackground; 
  top: 40px;
  bottom: 0;
  width: 100%;
  position: absolute;
}

#legends {
  ul.filters {
    margin-bottom: 0px; 
    margin-left: 10px;  
    
    label {
      display: inline-block;
      color: white;
    }
    .slider-text { display: inline-block; }
    .slider { }
  }
  ul.legend { 
    margin-bottom: 0px; 
    li {
      &.rule { margin-left: 10px; margin: 0; }
      &.style { 
        margin-bottom: 5px;
        position: relative;
        input[type="checkbox"] { margin-top: 10px; }
        .icon { display: inline-block; margin: 0; padding:0; margin-left: -10px; }
        .text { display: inline-block; line-height: 32px; overflow: hidden; text-overflow: ellipsis; cursor: pointer; }      
        .spinner { position: absolute; right: 0; }
      }
    }
  }
}

.popover.right {
  z-index: 10000;  
}