// Place all the styles related to the Maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.feature-popup-content {
  label { 
    display: inline-block; 
    font-weight: bold;
    text-transform:capitalize;
  }
}