.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid
      = link_to 'UberMap', '/', :class=>'brand'
      %form.navbar-form.form-search.pull-right
        %select{name: "site"}
          %option{value: ""} Select a hub
          %option{value: "fire"} Fire Points
